<%= link_to "Add a new todo", new_todoo_path %>

<ul class="todo">
  <%= @todoos.each do |t| %>
    <li class="<%= "completed" if t.completed? %>">
    <%= t.title %>
    <%= link_to "Mark complete", todoo_completion_path(t.id), method: :post %>
    </li>
  <% end %>
</ul>

